#first_false {
  border: 1px solid orange;
  padding: 5px;
  color: red;
  background-color: yellow;
}

#first_true {
  border: 1px solid green;
  padding: 5px;
  color: black;
  background-color: greenyellow;
}

#second_true {
  border: 1px solid lightblue;
  background-color: green;
  color: black;
  padding: 5px;
}

#second_false {
  border: 1px solid orange;
  background-color: yellow;
  color: red;
  padding: 5px;
}

#main_false {
  border: 1px solid orange;
  padding: 5px;
  color: red;
  background-color: yellow;
}

#main_true {
  border: 1px solid green;
  padding: 5px;
  color: black;
  background-color: greenyellow;
}

#button {
  border: transparent;
  width: fit-content;
}
