<div class="border">
  <h1>Should manking colonize the Universe?</h1>
  <p>Agree: {{ agree }}, Disagree: {{ disagree }}</p>
  <app-child1
    [isButtonDisabled]="isButtonDisabled"
    (agreeCountChange)="updateAgreeCount($event)"
    (disagreeCountChange)="updateDisagreeCount($event)"
  ></app-child1>
  <br />
  <app-child2
    [isButtonDisabled]="isButtonDisabled"
    (agreeCountChange)="updateAgreeCount($event)"
    (disagreeCountChange)="updateDisagreeCount($event)"
  ></app-child2>
  <br />
  <app-child3
    [isButtonDisabled]="isButtonDisabled"
    (agreeCountChange)="updateAgreeCount($event)"
    (disagreeCountChange)="updateDisagreeCount($event)"
  ></app-child3>
</div>
